// shared
header.container h1.logo,
#wrapper{
	overflow: hidden;
}

.end,
.sidebar h2:after,
header.container h1.logo span{
	position: absolute;
}

article,
ul#menu-main,
.main .row.content,
.sidebar,
.episode-title,
.episode-title a,
.audiojs,
.sidebar h2,
.theatre{
	position: relative;
}

.episode-title a,
.end,
.episode-title aside,
.credits-heading{
	float: left;
}

#search,
header.container .title{
	float: right;
}


header.container p{
	color: white;
}

.episode-title a,
.end,
.episode-title aside,
.season{
	display: block;
}

article:hover, .playing{
	.play-pause, .scrubber{
		.opacity(100);
	}
}