.episode-title a,.main article header .end,article.featured footer{-webkit-box-shadow:inset 1px 1px 0 #e00303,inset -1px -1px 0 #e00303,inset -6px -6px 20px #ae0303;box-shadow:inset 1px 1px 0 #e00303,inset -1px -1px 0 #e00303,inset -6px -6px 20px #ae0303;background:#c20303}.main article.showcase header .end,.showcase .episode-title a,article.showcase.featured footer{-webkit-box-shadow:inset 1px 1px 0 #c11de7,inset -1px -1px 0 #c11de7,inset -6px -6px 20px #9d14bd;box-shadow:inset 1px 1px 0 #c11de7,inset -1px -1px 0 #c11de7,inset -6px -6px 20px #9d14bd;background:#ac16cf}.black-jack-justice .episode-title a,.main article.black-jack-justice header .end,article.black-jack-justice.featured footer{-webkit-box-shadow:inset 1px 1px 0 #12c431,inset -1px -1px 0 #12c431,inset -6px -6px 20px #0d9525;box-shadow:inset 1px 1px 0 #12c431,inset -1px -1px 0 #12c431,inset -6px -6px 20px #0d9525;background:#0fa82a}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}html{font-size:62.5%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{font-size:13px;line-height:18px;color:#555;position:relative;-webkit-font-smoothing:antialiased}a{color:#2a85e8;text-decoration:none;line-height:inherit;font-weight:700}a:hover{color:#11639d}a:focus{color:#cc4714;outline:0}p a,p a:visited{line-height:inherit}ol,ul{margin-bottom:18px}ul{list-style:none outside}ol{list-style:decimal}ol,ul.circle,ul.disc,ul.square{margin-left:30px}ul.square{list-style:square outside}ul.circle{list-style:circle outside}ul.disc{list-style:disc outside}li{margin-bottom:4px}ul.large li{line-height:21px}table{background:#fff;border-radius:3px;margin:0 0 18px;border:1px solid #ddd}table tfoot,table thead{background:#f5f5f5}table tbody tr td,table tfoot tr td,table tfoot tr th,table thead tr th,table tr td{font-size:12px;line-height:18px;text-align:left}table tfoot tr td,table thead tr th{padding:8px 10px 6px;font-size:14px;font-weight:700;color:#222}table tfoot tr td:first-child,table thead tr th:first-child{border-left:0}table tfoot tr td:last-child,table thead tr th:last-child{border-right:0}table tbody tr.alt,table tbody tr.even,table tbody tr:nth-child(even){background:#f9f9f9}table tbody tr td{color:#333;padding:9px 10px;vertical-align:top;border:0}h1,h2,h3,h4,h5,h6{color:#181818;font-weight:700;line-height:1.25}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}h1{font-size:36px;margin-bottom:12px;font-family:Impact,Arial-Black,Arial,sans-serif;color:#C20303}h2{font-size:24px;margin-bottom:9px}h3{font-size:20px;margin-bottom:9px}h4{font-size:18px;margin-bottom:3px}h5{font-size:16px;font-weight:400;margin-bottom:3px}h6{font-size:14px;font-weight:400}.subheader{color:#777;font-weight:300;margin-bottom:24px}p{line-height:17px;margin:0 0 18px}p img{margin:0}p.lead{font-size:18px;line-height:24px}em,i{font-style:italic;line-height:inherit}b,strong{font-weight:700;line-height:inherit}small{font-size:85%;line-height:inherit;-ms-filter:"alpha(Opacity=90)";filter:alpha(opacity=90);opacity:.9}h1 small,h2 small,h3 small,h4 small,h5 small{color:#fff}blockquote,blockquote p{line-height:20px;color:#777}blockquote{margin:0 0 18px;padding:9px 20px 0 19px;border-left:1px solid #ddd}blockquote cite{display:block;font-size:12px;color:#555}blockquote cite:before{content:"\2014 \0020"}blockquote cite a,blockquote cite a:visited{color:#555}hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:12px 0 18px;height:0}abbr,acronym{text-transform:uppercase;font-size:90%;color:#222;border-bottom:1px solid #ddd;cursor:help}abbr{text-transform:none}@media print{*{background:transparent!important;color:#000!important;text-shadow:none!important;-webkit-filter:none!important;filter:none!important;-ms-filter:none!important}p a,p a:visited{color:#444!important;text-decoration:underline}p a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}.container{padding:0 20px}.row{width:100%;max-width:980px;min-width:727px;margin:0 auto}.row .row{min-width:0}.column,.columns{margin-left:4.4%;float:left;min-height:1px;position:relative}.column:first-child,.columns:first-child{margin-left:0}.row .one.columns{width:4.3%}.row .two.columns{width:13%}.row .three.columns{width:21.68%}.row .four.columns{width:30.4%}.row .five.columns{width:39.1%}.row .six.columns{width:47.8%}.row .seven.columns{width:56.5%}.row .eight.columns{width:65.2%}.row .nine.columns{width:73.9%}.row .ten.columns{width:82.6%}.row .eleven.columns{width:91.3%}.row .twelve.columns{width:100%}.row .offset-by-one{margin-left:13.1%}.row .offset-by-two{margin-left:21.8%}.row .offset-by-three{margin-left:30.5%}.row .offset-by-four{margin-left:39.2%}.row .offset-by-five{margin-left:47.9%}.row .offset-by-six{margin-left:56.6%}.row .offset-by-seven{margin-left:65.3%}.row .offset-by-eight{margin-left:74%}.row .offset-by-nine{margin-left:82.7%}.row .offset-by-ten{margin-left:91.4%}.row .centered{float:none;margin:0 auto}.row .offset-by-one:first-child{margin-left:8.7%}.row .offset-by-two:first-child{margin-left:17.4%}.row .offset-by-three:first-child{margin-left:26.1%}.row .offset-by-four:first-child{margin-left:34.8%}.row .offset-by-five:first-child{margin-left:43.5%}.row .offset-by-six:first-child{margin-left:52.2%}.row .offset-by-seven:first-child{margin-left:60.9%}.row .offset-by-eight:first-child{margin-left:69.6%}.row .offset-by-nine:first-child{margin-left:78.3%}.row .offset-by-ten:first-child{margin-left:87%}.row .offset-by-eleven:first-child{margin-left:95.7%}embed,img,object{max-width:100%;height:auto}img{-ms-interpolation-mode:bicubic}.clearfix:after,.clearfix:before,.row:after,.row:before{content:"";display:table}.clearfix:after,.row:after{clear:both}.clearfix,.row{zoom:1}.block-grid{display:block;overflow:hidden}.block-grid>li{display:block;height:auto;float:left}.block-grid.two-up{margin-left:-4%}.block-grid.two-up>li{margin-left:4%;width:46%}.block-grid.three-up{margin-left:-2%}.block-grid.three-up>li{margin-left:2%;width:31.3%}.block-grid.four-up{margin-left:-2%}.block-grid.four-up>li{margin-left:2%;width:23%}.block-grid.five-up{margin-left:-1.5%}.block-grid.five-up>li{margin-left:1.5%;width:18.5%}.button{background:#00a6fc;display:inline-block;text-align:center;padding:9px 34px 11px;color:#fff;text-decoration:none;font-weight:700;line-height:1;font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;position:relative;cursor:pointer;border:0}input[type=submit].button{-webkit-appearance:none}.button.nice{-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.5);text-shadow:0 -1px 1px rgba(0,0,0,.28);background:#00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px,-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,.4)),color-stop(100%,transparent));border:1px solid #0593dc;-webkit-transition:background-color .15s ease-in-out;-moz-transition:background-color .15s ease-in-out;-o-transition:background-color .15s ease-in-out}.button.radius{border-radius:3px}.button.round{border-radius:1000px}.button.full-width{width:100%;padding-left:0!important;padding-right:0!important;text-align:center}.button.left-align{text-align:left;text-indent:12px}.small.button{font-size:11px;padding:8px 20px 10px;width:auto}.medium.button{font-size:13px;width:auto}.large.button{font-size:18px;padding:11px 48px 13px;width:auto}.nice.small.button{background-position:0 -36px}.nice.large.button{background-position:0 -30px}.blue.button{background-color:#00a6fc}.red.button{background-color:#e91c21}.white.button{background-color:#e9e9e9;color:#333}.black.button{background-color:#141414}.nice.blue.button{border:1px solid #0593dc}.nice.red.button{border:1px solid #b90b0b}.nice.white.button{border:1px solid #cacaca;text-shadow:none!important}.nice.black.button{border:1px solid #000}.button:focus,.button:hover{background-color:#0192dd;color:#fff}.blue.button:focus,.blue.button:hover{background-color:#0192dd}.red.button:focus,.red.button:hover{background-color:#d01217}.white.button:focus,.white.button:hover{background-color:#dadada;color:#333}.black.button:focus,.black.button:hover{background-color:#000}.button.disabled,.button[disabled]{opacity:.6;cursor:default}div.alert-box{display:block;padding:6px 7px;font-weight:700;font-size:13px;background:#eee;border:1px solid rgba(0,0,0,.1);margin-bottom:12px;border-radius:3px;text-shadow:0 1px rgba(255,255,255,.9);position:relative}div.alert-box.single{margin:0 12px 16px}.alert-box.success{background-color:#7fae00;color:#fff;text-shadow:0 -1px rgba(0,0,0,.3)}.alert-box.warning{background-color:#c08c00;color:#fff;text-shadow:0 -1px rgba(0,0,0,.3)}.alert-box.error{background-color:#c00000;color:#fff;text-shadow:0 -1px rgba(0,0,0,.3)}.alert-box a.close{color:#000;position:absolute;right:4px;top:0;font-size:18px;opacity:.2;padding:4px}.alert-box a.close:focus,.alert-box a.close:hover{opacity:.4}dl.tabs{display:block;margin:0 0 20px;padding:0;height:30px;border-bottom:solid 1px #ddd}dl.tabs dt{display:block;width:auto;height:30px;padding:0 9px 0 20px;line-height:30px;float:left;color:#999;font-size:11px;text-transform:uppercase;cursor:default}dl.tabs dt:first-child{padding:0 9px 0 0}dl.tabs dd{display:block;width:auto;height:30px;padding:0;float:left}dl.tabs dd a{display:block;width:auto;height:29px;padding:0 9px;line-height:30px;border:solid 1px #ddd;margin:0 -1px 0 0;color:#555;background:#eee}dl.tabs dd a.active{background:#fff;border-width:1px 1px 0;height:30px}.nice.tabs{border-bottom:solid 1px #eee;margin:0 0 30px;height:43px}.nice.tabs dd a{padding:7px 18px 9px;font-size:15px;color:#555;background:0 0;border:0}.nice.tabs dd a.active{font-weight:700;color:#333;background:#fff;border-left:1px solid #eee;border-right:1px solid #eee;border-top:3px solid #00a6fc;margin:0 10px;position:relative;top:-5px}.nice.tabs dd:first-child a.active{margin-left:0}dl.tabs.vertical{height:auto}dl.nice.tabs.vertical dd,dl.nice.tabs.vertical dt,dl.tabs.vertical dd,dl.tabs.vertical dt{float:none;height:auto}dl.tabs.vertical dd a{display:block;width:auto;height:auto;padding:15px 20px;line-height:1;border:solid 0 #ccc;border-width:1px 1px 0;margin:0;color:#555;background:#eee;font-size:15px}dl.tabs.vertical dd a.active{height:auto;margin:0;border-width:1px 0 0;background:#fff}.nice.tabs.vertical{border-bottom:solid 1px #eee;height:auto}.nice.tabs.vertical dd a{padding:15px 20px;border:0;border-left:1px solid #eee;border-right:1px solid #eee;border-top:1px solid #eee;background:#fff}.nice.tabs.vertical dd a.active{border:0;background:#00a6fc;color:#fff;margin:0;position:static;top:0;height:auto}.nice.tabs.vertical dd:first-child a.active{margin:0}ul.tabs-content{margin:0;display:block}ul.tabs-content>li{display:none}ul.tabs-content>li.active{display:block}dl.contained,dl.nice.contained{margin-bottom:0}dl.contained.tabs dd a{padding:0 14px}dl.nice.contained.tabs dd a{padding:7px 18px 9px}ul.contained.tabs-content{padding:0}ul.contained.tabs-content>li{padding:20px;border:solid 0 #ddd;border-width:0 1px 1px}ul.nice.contained.tabs-content>li{border-color:#eee}ul.pagination{display:block;height:25px;margin-left:-5px}ul.pagination li{float:left;display:block;height:25px;color:#999;font-size:16px;margin-left:5px}ul.pagination li a{display:block;padding:8px 12px;color:#999;font-weight:900}ul.pagination li a:focus,ul.pagination li.current a,ul.pagination li:hover a{color:#2a85e8}ul.pagination li.current a{border-bottom:10px solid #ffae00;color:#141414}ul.pagination li:hover a{border-bottom:10px solid #fff}ul.pagination li.unavailable a{cursor:default;color:#999}ul.pagination li.unavailable a:focus,ul.pagination li.unavailable:hover a{border-bottom:0}ol.nice,ul.nice{list-style:none;margin:0}ol.nice li,ul.nice li{padding-left:13px;position:relative}ol.nice li span.number,ul.nice li span.bullet{position:absolute;left:0;top:0;color:#ccc}div.panel{padding:20px 20px 2px;background:#efefef;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#f4f4f4));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4', GradientType=0);box-shadow:0 2px 5px rgba(0,0,0,.15);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.15);margin:0 0 20px}.nav-bar{height:45px}.nav-bar>li{float:left;display:block;position:relative;padding:0;margin:0;line-height:35px}.nav-bar>li>a{position:relative;padding:0 10px;display:block;text-decoration:none;font-size:15px;margin:0 4px}.nav-bar>li>input{margin:0 16px}.nav-bar>li ul{margin-bottom:0}.nav-bar>li li{line-height:1.3}.nav-bar>li.has-flyout>a{padding-right:36px}.nav-bar>li.has-flyout>a:after{content:"";width:0;height:0;position:absolute;right:18px;bottom:16px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #797979;display:block}.nav-bar>li.has-flyout>a.active:after{border-top-color:#333}.nav-bar>li:hover>a{color:#141414;z-index:2}.flyout{background:#fff;margin:0;padding:20px;border:1px solid #ddd;position:absolute;top:45px;left:-1px;width:400px;z-index:100;-webkit-box-shadow:0 0 5px rgba(0,0,0,.3);box-shadow:0 0 5px rgba(0,0,0,.3)}.flyout.small{width:200px}.flyout.large{width:600px}.flyout.right{left:auto;right:0}.flyout p:last-child{margin-bottom:0}.nav-bar>li .flyout{display:none}.nav-bar>li:hover .flyout{display:block}ul.vcard{display:inline-block;margin:0 0 12px;border:1px solid #ddd;padding:10px}ul.vcard li{margin:0;display:block}ul.vcard li.fn{font-weight:700;font-size:15px}p.vevent span.summary{font-weight:700}p.vevent abbr{cursor:default;text-decoration:none;font-weight:700;border:0;padding:0 1px}form label{display:block;font-size:13px;line-height:18px;cursor:pointer;margin-bottom:9px}input.input-text,textarea{border-right:1px solid #bbb;border-bottom:1px solid #bbb}input.input-text,select,textarea{display:block;margin-bottom:9px}label+div.dropdown,label+input.input-text,label+select,label+textarea,select+div.dropdown{margin-top:-9px}input.input-text,textarea{font-size:13px;padding:4px 3px 2px;background:#fff}input.input-text:focus,textarea:focus{outline:0!important}input.input-text.oversize,textarea.oversize{font-size:18px!important;padding:4px 5px!important}input.input-text:focus,textarea:focus{background:#f9f9f9}input.placeholder,textarea.placeholder{color:#888}input.input-text,textarea{width:254px}input.small,textarea.small{width:134px}input.medium,textarea.medium{width:254px}input.large,textarea.large{width:434px}form fieldset{padding:9px 9px 2px;border:solid 1px #ddd;margin:18px 0}.form-field input[type=radio],div.form-field input[type=checkbox]{display:inline;width:auto;margin-bottom:0}.form-field.error input,input.input-text.red{border-color:red;background-color:rgba(255,0,0,.15)}.form-field.error label,label.red{color:red}.form-field.error small,small.error{margin-top:-6px;display:block;margin-bottom:9px;font-size:11px;color:red;width:260px}.small+small.error{width:140px}.medium+small.error{width:260px}.large+small.error{width:440px}form.nice div.form-field input,form.nice input.input-text,form.nice textarea{border:solid 1px #bbb;border-radius:2px;font-size:13px;padding:6px 3px 4px;outline:0!important;background:#fff}form.nice div.form-field input:focus,form.nice input.input-text:focus,form.nice textarea:focus{background-color:#f9f9f9}form.nice fieldset{border-radius:3px}form.nice div.form-field input[type=checkbox],form.nice div.form-field input[type=radio]{display:inline;width:auto;margin-bottom:0}form.nice div.form-field.error small,form.nice small.error{padding:6px 4px;border:solid 0 red;border-width:0 1px 1px;margin-top:-10px;background:red;color:#fff;font-size:12px;font-weight:700;border-bottom-left-radius:2px;border-bottom-right-radius:2px}form.nice .small+small.error,form.nice div.form-field.error .small+small{width:132px}form.nice .medium+small.error,form.nice div.form-field.error .medium+small{width:252px}form.nice .large+small.error,form.nice div.form-field.error .large+small{width:432px}form.custom span.custom{display:inline-block;width:14px;height:14px;position:relative;top:2px;border:solid 1px #ccc;background:url(../images/misc/custom-form-sprites.png) 0 0 no-repeat}form.custom span.custom.radio{border-radius:7px}form.custom span.custom.radio.checked{background-position:0 -14px}form.custom span.custom.checkbox.checked{background-position:0 -28px}form.custom div.custom.dropdown{position:relative;display:inline-block;width:auto;height:28px;margin-bottom:9px}form.custom div.custom.dropdown a.current{display:block;width:auto;line-height:26px;padding:0 38px 0 6px;border:solid 1px #ddd;color:#141414}form.custom div.custom.dropdown a.selector{position:absolute;width:26px;height:26px;display:block;background:url(../images/misc/custom-form-sprites.png) -14px 0 no-repeat;right:0;top:0;border:solid 1px #ddd}form.custom div.custom.dropdown.open a.selector,form.custom div.custom.dropdown:hover a.selector{background-position:-14px -26px}form.custom div.custom.dropdown ul{position:absolute;width:auto;display:none;left:0;top:27px;margin:0;padding:0;background:rgba(255,255,255,.9);border:solid 1px #ddd;z-index:10}form.custom div.custom.dropdown ul li{cursor:pointer;padding:3px 38px 3px 6px;margin:0}form.custom div.custom.dropdown ul li.selected{background:url(../images/misc/custom-form-sprites.png) right -52px no-repeat}form.custom div.custom.dropdown ul li:hover{background-color:#2a85e8;color:#fff}form.custom div.custom.dropdown ul li.selected:hover{background:url(../images/misc/custom-form-sprites.png) #2a85e8 right -78px no-repeat}form.custom div.custom.dropdown ul.show,form.custom div.custom.dropdown.open ul{display:block}.reveal-modal-bg{position:fixed;height:100%;width:100%;background:#000;z-index:2000;display:none;top:0;left:0}.reveal-modal{visibility:hidden;top:100px;left:50%;margin-left:-300px;width:520px;background:#eee url(../images/misc/modal-gloss.png) no-repeat -200px -80px;position:absolute;z-index:2001;padding:30px 40px 34px;border-radius:5px;-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);box-shadow:0 0 10px rgba(0,0,0,.4)}.reveal-modal.small{width:200px;margin-left:-140px}.reveal-modal.medium{width:400px;margin-left:-240px}.reveal-modal.large{width:600px;margin-left:-340px}.reveal-modal.xlarge{width:800px;margin-left:-440px}.reveal-modal .close-reveal-modal{font-size:22px;line-height:.5;position:absolute;top:8px;right:11px;color:#aaa;text-shadow:0 -1px 1px rbga(0,0,0,.6);font-weight:700;cursor:pointer}.reveal-modal .row{min-width:0}@media handheld,only screen and (device-width:768px),(device-width:800px){.reveal-modal-bg{position:absolute}.reveal-modal,.reveal-modal.large,.reveal-modal.medium,.reveal-modal.small,.reveal-modal.xlarge{width:60%;top:30%;left:15%;margin-left:0;padding:5%;height:auto}}@media handheld,only screen and (max-width:767px){.reveal-modal-bg{position:absolute}.reveal-modal,.reveal-modal.large,.reveal-modal.medium,.reveal-modal.small,.reveal-modal.xlarge{width:80%;top:15%;left:5%;margin-left:0;padding:5%;height:auto}}@media handheld,only screen and (max-width:767px){h1{font-size:32px;line-height:1.3}h2{font-size:22px;line-height:1.3}h3{font-size:21px;line-height:1.3}h4{font-size:18px;line-height:1.2}h5{font-size:16px;line-height:1.2}h6{font-size:15px;line-height:1.2}body,p{font-size:15px;line-height:1.4}}@media only screen and (max-width:767px){body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:0;padding-right:0}.container{min-width:0;margin-left:0;margin-right:0}.row{width:100%;min-width:0;margin-left:0;margin-right:0}.row .row .column,.row .row .columns{padding:0}.column,.columns{width:auto!important;float:none;margin-left:0;margin-right:0}.column:last-child,.columns:last-child{margin-right:0}.centered,.offset-by-eight,.offset-by-eleven,.offset-by-five,.offset-by-four,.offset-by-nine,.offset-by-one,.offset-by-seven,.offset-by-six,.offset-by-ten,.offset-by-three,.offset-by-two{margin-left:0!important}.row .phone-four.column:first-child,.row .phone-four.columns:first-child,.row .phone-one.column:first-child,.row .phone-one.columns:first-child,.row .phone-three.column:first-child,.row .phone-three.columns:first-child,.row .phone-two.column:first-child,.row .phone-two.columns:first-child{margin-left:0}.row .phone-four.column,.row .phone-four.columns,.row .phone-one.column,.row .phone-one.columns,.row .phone-third.columns,.row .phone-three.column,.row .phone-three.columns,.row .phone-two.column,.row .phone-two.columns{margin-left:4.4%;float:left;min-height:1px;position:relative;padding:0}.row .phone-one.columns{width:21.68%!important}.row .phone-two.columns{width:47.8%!important}.row .phone-three.columns{width:73.9%!important}.row .phone-four.columns{width:100%!important}.row .phone-third.columns{width:27.68%!important}}@media only screen and (max-width:767px){.block-grid.mobile{margin-left:0}.block-grid.mobile li{float:none;width:100%;margin-left:0}}.show-on-phones,.show-on-tablets{display:none}.show-on-desktops{display:block}.hide-on-desktops{display:none!important}@media only screen and (max-device-width:800px),only screen and (device-width:1024px) and (device-height:600px),only screen and (width:1280px) and (orientation:landscape),only screen and (device-width:800px){.hide-on-phones{display:block!important}.hide-on-tablets{display:none!important}.hide-on-desktops{display:block!important}span.hide-on-desktops{display:inline!important}.show-on-phones{display:none!important}.show-on-tablets{display:block!important}.show-on-desktops{display:none!important}}@media only screen and (max-width:767px){.hide-on-phones,span.hide-on-phones{display:none!important}.hide-on-desktops,.hide-on-tablets{display:block!important}span.hide-on-desktops{display:inline!important}.show-on-phones{display:block!important}span.show-on-phones{display:inline!important}.show-on-desktops,.show-on-tablets{display:none!important}}@media only screen and (max-width:767px){div.form-field input,div.form-field input.large,div.form-field input.medium,div.form-field input.oversize,div.form-field input.small,form.nice div.form-field input,form.nice div.form-field input.oversize,form.nice input.input-text,form.nice input.input-text.oversize,form.nice textarea,input.input-text,input.input-text.oversize,textarea{display:block;width:96%;padding:6px 2% 4px;font-size:18px}form.nice div.form-field input,form.nice div.form-field input.oversize,form.nice input.input-text,form.nice input.input-text.oversize,form.nice textarea{border-radius:2px}form.nice div.form-field.error small,form.nice small.error{padding:6px 2%;display:block}form.nice .large+.error,form.nice .medium+.error,form.nice .small+.error,form.nice div.form-field.error .large+small,form.nice div.form-field.error .medium+small,form.nice div.form-field.error .small+small{width:auto}}@media only screen and (max-width:767px){.button{display:block}button.button{width:100%;padding-left:0;padding-right:0}}@media only screen and (max-width:767px){dl.nice.tabs.mobile,dl.tabs.mobile{width:auto;margin:20px -20px 40px;height:auto}dl.nice.tabs.mobile dd,dl.nice.tabs.mobile dt,dl.tabs.mobile dd,dl.tabs.mobile dt{float:none;height:auto}dl.tabs.mobile dd a{display:block;width:auto;height:auto;padding:18px 20px;line-height:1;border:solid 0 #ccc;border-width:1px 0 0;margin:0;color:#555;background:#eee;font-size:15px}dl.tabs.mobile dd a.active{height:auto;margin:0;border-width:1px 0 0}.nice.tabs.mobile{border-bottom:solid 1px #ccc;height:auto}.nice.tabs.mobile dd a{padding:18px 20px;border:0;border-left:0;border-right:0;border-top:1px solid #ccc;background:#fff}.nice.tabs.mobile dd a.active{border:0;background:#00a6fc;color:#fff;margin:0;position:static;top:0;height:auto}.nice.tabs.mobile dd:first-child a.active{margin:0}dl.contained.mobile,dl.nice.contained.mobile{margin-bottom:0}dl.contained.tabs.mobile dd a,dl.nice.contained.tabs.mobile dd a{padding:18px 20px}}@media only screen and (max-width:767px){.nav-bar{height:auto}.nav-bar>li{float:none;display:block;border-right:0}.nav-bar>li>a{text-align:left;border-top:1px solid #ddd;border-right:0}.nav-bar>li:first-child>a{border-top:0}.nav-bar>li:hover>a{font-weight:700}.nav-bar>li:hover ul{position:relative}.flyout{position:relative;width:auto;top:auto;margin-right:-2px}.flyout.right{float:none;right:auto;left:-1px}.flyout.large,.flyout.small{width:auto}.flyout p:last-child{margin-bottom:18px}}#wrapper,header.container h1.logo{overflow:hidden}.end,.sidebar h2:after,header.container h1.logo span{position:absolute}.audiojs,.episode-title,.episode-title a,.main .row.content,.sidebar,.sidebar h2,.theatre,article,ul#menu-main{position:relative}.credits-heading,.end,.episode-title a,.episode-title aside{float:left}#search,header.container .title{float:right}.end,.episode-title a,.episode-title aside,.season{display:block}body{font-family:Helvetica,Arial,"MS Trebuchet",sans-serif;background:#131a2d url(../images/stripe.png)}header.container{padding-top:0}header.container h1.logo{text-indent:0;margin-left:-41px;margin-right:-41px}header.container h1.logo span{top:-9999px}header.container .title{float:right;margin-top:40px}header.container .title .three img{margin:30px -10px 0 10px}header.container p{color:#fff}.theatre{margin-top:-10%!important;z-index:5}nav.menu-main-container ul#menu-main{margin-bottom:10px;top:-1px}nav.menu-main-container ul#menu-main>li>a{border-top:10px solid #e6e6e6;color:#797979;text-transform:uppercase}nav.menu-main-container ul#menu-main>li a:hover{border-color:#fff;color:#131a2d}nav.menu-main-container ul#menu-main>li a.active{border-top:10px solid #ffae00;color:#222}.nav-mobile{display:none;width:92%;margin:1em 4%;padding:2%;text-transform:uppercase;border:4px solid #ffae00;font-weight:700;outline:0!important}.nav-mobile option{padding:.2em;font-weight:700}@media screen and (max-width:420px){nav.menu-main-container{display:none!important}.nav-mobile{display:block}}#search_form{float:right}#search{margin:11px 14px;font-size:12px;padding:5px 12px;height:18px;width:240px;color:#666;border:1px solid #CCC;-o-border-radius:15px;border-radius:15px;outline:0}#search:focus{border-color:#2a85e8;background:#fff}.search-result.alert-box{margin:0 12px 12px;font-weight:400!important}.flyout-toggle{display:none!important}.main{background:#c6c6c6;-webkit-box-shadow:0 0 18px #000;box-shadow:0 0 18px #000;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}.main .row.content{background:#e6e6e6;top:-12px;margin:0 auto -24px auto;border:1px solid #fafafa;-webkit-box-shadow:0 2px 8px #000;box-shadow:0 2px 8px #000;box-shadow:0 2px 8px rgba(0,0,0,.3)}.sidebar{z-index:5}.sidebar p{padding:0 8px}.sidebar h2{background-color:#fac51a;background-image:-webkit-gradient(linear,0 0,0 100%,from(#facd1a),to(#fab819));background-image:-webkit-linear-gradient(top,#facd1a,#fab819);background-image:-webkit-gradient(linear,top left,bottom left,from(#facd1a),to(#fab819));background-image:-webkit-linear-gradient(top,#facd1a,#fab819);background-image:linear-gradient(top,#facd1a,#fab819);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#facd1a', endColorstr='#fab819', GradientType=0);font-size:18px;line-height:45px;height:45px;padding:0 16px;margin:-2px -10px 24px 0;border:1px solid #facd1a;-webkit-box-shadow:2px 2px 6px #666;box-shadow:2px 2px 6px #666;box-shadow:2px 2px 6px rgba(0,0,0,.3)}.sidebar h2:after{width:34px;height:68px;content:url(../images/ribbon_sidebar.png);right:-26px;top:-3px;z-index:-1}.sidebar .box{padding:0 0 40px}.season{font-size:40px;font-family:Impact;line-height:50px;text-align:center;margin:0 3px;padding:8px 0;border:1px solid #e1e1e1}.three-up .season{font-size:30px}.season.active,.season:hover{color:#222;background-color:#fff}.season:hover{color:#ffae00}article{margin:-2px -7px 40px -7px;background:#222;-webkit-box-shadow:0 1px 8px #777;box-shadow:0 1px 8px #777;box-shadow:0 1px 8px rgba(0,0,0,.3)}.episode-title{margin:0 0 7px;color:#fff;text-shadow:1px 1px 3px #333}.episode-title a{color:#fff;bottom:0;left:-4px;top:-1px;width:74%;vertical-align:middle}.episode-title a span{display:block;padding:12px}.episode-title a:hover{text-shadow:1px 1px 5px #000}.episode-title.news-heading a{width:86%}.episode-title.news-heading aside{width:10%}.end{color:#fff;width:4%;height:100%;right:-4px;top:-1px;bottom:2px}.episode-info{text-align:center;padding:1px 0;width:20%;text-shadow:1px 1px 3px #000}.episode-number{float:left;text-align:center;line-height:50px;font-size:32px;width:42%}.episode-date{font-size:12px;line-height:14px;margin:11px 0 0;display:block;text-align:center}article img,img.thumbnail{margin:0 12px 12px 0;background:#fff;padding:6px;-webkit-box-shadow:0 2px 6px #aaa;box-shadow:0 2px 6px #aaa}section{padding:0 0 24px}div.entry{padding:20px 12px;margin:0 -4px;background:#fff url(../images/article_grad.png) repeat-x;border:1px solid #fff}article.notched{margin:-2px -8px -8px -8px;margin-bottom:40px}article.notched div.entry{overflow:hidden;margin:0 -5px}article.notched div.entry div{text-align:center;vertical-align:middle}article.notched div.entry img{border:0;-webkit-box-shadow:none;box-shadow:none;display:inline;margin:10px auto}article.notched footer{height:20px;margin:8px -5px 0 -5px}article.featured div.entry{height:370px;margin:0 -5px;position:relative}article.featured div.entry div{text-align:center;vertical-align:middle}article.featured div.entry img{border:0;-webkit-box-shadow:none;box-shadow:none;display:inline;margin:0 auto}article.featured.featured-book div.entry{height:auto}article.featured.featured-book div.entry a{display:block;padding:0 11px 0 0}article.featured div.entry:after{width:112px;height:53px;content:url(../images/notch.png);left:50%;margin:0 0 0 -56px;position:absolute;bottom:-54px;z-index:1}article.featured footer{height:20px;margin:8px -5px 0 -5px}#wrapper>footer{padding-top:30px}#wrapper>footer h3,#wrapper>footer p{color:#fff}#wrapper>footer a{color:#ffae00}#wrapper>footer a:hover{color:#2a85e8}#wrapper>footer hr{border-color:#0b101b}#searchform{padding:0 6px 0 0}#searchform input{width:100%;margin:12px 0;height:32px;padding:4px;-webkit-appearance:none;border:1px solid #c6c6c6;border-radius:16px;outline:0}ul.cast>li h6{height:50px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0 4px}.download-link{position:absolute;bottom:-1.5em;font-size:11px;text-transform:uppercase;right:0;color:#939393}.download-link:hover{color:#2a85e8}.row{position:relative}.admin-buttons{position:absolute;right:0;bottom:-30px}.audiojs p{display:none;width:25px;height:40px;margin:0;cursor:pointer}.audiojs .play{display:block}.playing .error,.playing .loading,.playing .play{display:none}.playing .pause{display:block}.loading .error,.loading .pause,.loading .play{display:none}.loading .loading{display:block}.audiojs,article footer,table tr th{background:#fbfbfb url(../images/grad.png) top center repeat-x}.audiojs{padding:9px 0!important;height:29px;margin:0 -4px}.audiojs .controls{width:48px;height:29px;top:9px;left:6px;position:absolute}.audiojs .play-pause,.audiojs .scrubber,.audiojs .time{border:0}.audiojs .play-pause,.audiojs .time{position:relative;z-index:10}.audiojs .time{display:none;float:right;line-height:12px;font-size:11px;margin:-7px 11px 0 0;color:#777;text-shadow:none;font-family:arial,sans-serif}.audiojs .time .played{color:#222}.audiojs.playing .time{display:block}.audiojs.playing .time em{font-style:normal!important}.audiojs .play-pause{float:left!important;margin:0 0 0 10px}.audiojs .play-pause .loading,.audiojs .play-pause .pause,.audiojs .play-pause .play{height:29px;width:29px}.audiojs .play-pause .play{background:url(../images/play_pause.gif) 0 -29px no-repeat}.audiojs .play-pause .pause{background:url(../images/play_pause.gif) 0 0 no-repeat}.audiojs .play-pause .loading{background:url(../images/play_pause.gif) 0 -58px no-repeat}.audiojs .scrubber-box{top:9px;height:29px;position:absolute;width:100%}.audiojs .scrubber{cursor:pointer;height:7px;border-radius:4px;border:1px solid #c6c6c6;position:relative;top:0;margin:10px 10px 10px 52px!important}.audiojs .scrubber .loaded,.audiojs .scrubber .progress{top:0;left:0;position:absolute;height:100%;width:0;border-radius:4px}.audiojs .scrubber .progress{background:#bababa;border:1px solid #aeaeae;margin:-1px;border-right:4px solid #fff;z-index:5;top:0;border-radius:4px}.audiojs .scrubber .progress:after{width:19px;height:19px;content:url(../images/grabber.png);right:-8px;position:absolute;top:-6px;z-index:100}.audiojs .scrubber .loaded{background:#d4d4d4}.audiojs.playing .scrubber .progress{border-color:#eeab07;background-color:#ffae00}.playing .play-pause,.playing .scrubber,article:hover .play-pause,article:hover .scrubber{opacity:1;filter:alpha(opacity=100)}.credits-heading{width:100%;float:left}table{width:100%}td,th{text-align:center;position:relative;vertical-align:top}#disqus_thread img{padding:0;-webkit-box-shadow:none;box-shadow:none}#disqus_thread #dsq-footer,#dsq-content-stub,.dsq-brlink{display:none!important;color:#fff!important}.details{color:#797979;font-size:14px;float:right;margin:.6em 0 0}.video .entry{padding:0;border:0;background:#000}.video-list-entry{width:50%}.video-thumb{border:0;padding:0;margin:0;-webkit-box-shadow:none;box-shadow:none;display:block;max-width:100.5%}.video-small-title{font-size:18px;margin:0;margin-top:-4px;margin-bottom:-6px;bottom:-4px}.video-small-title a{width:103%!important}.align_left{float:left}img.align_left{margin:0 12px 12px 0}.align_right{float:right}img.align_right{margin:0 0 12px 12px}.hide{display:none}.highlight{background:#ff0}.clear{clear:both}.align_center{text-align:center;margin-left:auto;margin-right:auto}img.align_center{display:block;margin-left:auto;margin-right:auto}.CommentForm_new{margin-top:2em;padding:1em;padding-left:.6em;padding-bottom:0}.CommentForm_new label{font-weight:700}.CommentForm_new input{width:94%;padding:.5em 3%}.CommentForm_new textarea{padding:1em 2.5%;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;width:95%;clear:both;margin-top:2px}.CommentForm_new>h3{color:#aaa;background:#eee;text-transform:uppercase;font-size:14px;padding:.6em 1em;line-height:1em;margin-bottom:2em;text-align:center;border:1px solid #ddd}.CommentForm_cite,.CommentForm_email{width:48%;float:left}.CommentForm_email{float:right}.CommentForm_submit{text-align:right;margin:0}.CommentForm_submit button{border:0!important;cursor:pointer;background:#444;color:#fff;text-transform:uppercase;font-weight:700;padding:.6em 1em}.CommentForm_submit button:hover{background:#222}.CommentForm_text{clear:both}.comments{padding:1em;padding-left:.6em;padding-top:0}.comments>h3{color:#aaa;background:#eee;text-transform:uppercase;font-size:14px;padding:.6em 1em;line-height:1em;margin-bottom:2em;text-align:center;border:1px solid #ddd}.CommentGravatar{float:left;width:50px;margin:0 8px 8px 0!important;padding:0!important;-webkit-box-shadow:none;box-shadow:none}.CommentListItem{margin-bottom:1.5em;clear:both}.CommentHeader{margin-bottom:.3em;text-transform:uppercase;font-size:.85em;color:#bbb}.CommentText{font-size:1.1em;margin-left:60px;position:relative;font-style:italic;padding:.6em 1.5em .05em}.CommentText p{margin-bottom:.6em}.CommentText:after,.CommentText:before{position:absolute;color:#ffae00;font-size:2.5em}.CommentText:before{content:"\201C";margin-left:-.6em}@media only screen and (max-width:850px){th .icon{display:none!important}}@media only screen and (max-width:767px){#search_form{padding:0!important;margin:12px 0;width:100%}#search_form input{float:none;width:91%;margin:0 auto}ul.cast>li h6{font-size:12px}nav.menu-main-container ul#menu-main{margin:0;top:0;padding:0}nav.menu-main-container ul#menu-main li{width:20%;padding:0;float:left}nav.menu-main-container ul#menu-main li a{text-align:center}nav.menu-main-container ul#menu-main .flyout-toggle{display:none}nav.menu-main-container ul#menu-main .flyout{position:absolute;width:100%;right:0}nav.menu-main-container ul#menu-main .flyout ul li{float:none}header.container .title{margin:-50px 0 30px 0}.theatre{max-width:50%!important}#st-search-input{width:80%;margin:0 auto;float:none;margin-top:0;display:block}#skipnav{background:#222;border-bottom:1px solid #333;color:#999;padding:4px 0;width:100%;text-align:center;text-transform:uppercase;font-style:12px}header img{margin:0 auto!important;float:none;display:block}.title .seven{margin:-80px 0 30px 0}.main{padding-right:0;padding-left:0;-webkit-box-shadow:none;box-shadow:none}.main .row.content{border:0}.padd{padding-left:20px;padding-right:20px}.entry,article{margin-left:0!important;margin-right:0!important;border-right:0;border-left:0}.notched.row{-webkit-box-shadow:0 1px 8px #777;box-shadow:0 1px 8px #777;box-shadow:0 1px 8px rgba(0,0,0,.3);margin-bottom:24px}.notched.row img{max-width:70%}.notched-shows{margin-bottom:30px}.notched.row.notched-books{-webkit-box-shadow:none;box-shadow:none;background:0 0}article{margin-bottom:24px}article.featured{background:#fff;-webkit-box-shadow:none;box-shadow:none;height:auto;margin:0}article.featured .logo-small{float:left;width:100px;max-width:33%;margin:-4px -4px 4px -4px}article.featured .logo-small img{margin:-4px!important}article.featured div.entry{height:auto;padding:30px 0 0;border:0;background:0 0;overflow:hidden}article.featured div.entry:after{display:none;content:url(../images/notch.png)}article.featured.featured-book{width:31%;float:left;background:0 0;margin:0;padding:0 1%}article.featured.featured-book a{width:100%;padding:0}article.featured.featured-book a img{background:transparent!important}article img{padding:0;-webkit-box-shadow:none;box-shadow:none;margin-top:6px!important}article header h2.row{width:auto!important}article header h2.row a,article header h2.row aside,article header h2.row aside small,article header h2.row aside strong{width:auto!important;left:0;border-left:0;border-right:0}article header h2.row a,article header h2.row aside,article header h2.row aside strong{float:none;display:block;text-align:left}article header h2.row aside small,article header h2.row aside strong{display:inline;font-size:12px;line-height:34px;margin-right:12px}article header h2.row aside{padding:0 12px;margin:-3px 0 -10px 0}article header h2.row .end{display:none!important}article .entry{margin:0;padding-bottom:20px}}@media only screen and (max-width:450px){.nav-bar>li.has-flyout>a:after{border:0!important}.nav-bar>li.has-flyout>a{padding-right:10px}#search_form input{width:85%}} a:hover {
  border-color: #fff;
  color: #131a2d;
}
nav.menu-main-container ul#menu-main > li a.active {
  border-top: 10px solid #ffae00;
  color: #222222;
}
.nav-mobile {
  display: none;
  width: 92%;
  margin: 1em 4%;
  padding: 2%;
  text-transform: uppercase;
  border: 4px solid #ffae00;
  font-weight: bold;
  outline: none !important;
}
.nav-mobile option {
  padding: 0.2em;
  font-weight: bold;
}
@media screen and (max-width: 420px) {
  nav.menu-main-container {
    display: none !important;
  }
  .nav-mobile {
    display: block;
  }
}
#search_form {
  float: right;
}
#search {
  margin: 11px 14px;
  font-size: 12px;
  padding: 5px 12px;
  height: 18px;
  width: 240px;
  color: #666;
  border: 1px solid #CCC;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  outline: none;
}
#search:focus {
  border-color: #2a85e8;
  background: #fff;
}
.search-result.alert-box {
  margin: 0 12px 12px 12px;
  font-weight: normal!important;
}
.flyout-toggle {
  display: none!important;
}
.main {
  background: #c6c6c6;
  box-shadow: 0 0 18px #000;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.main .row.content {
  background: #e6e6e6;
  top: -12px;
  margin: 0 auto -24px auto;
  border: 1px solid #fafafa;
  box-shadow: 0 2px 8px #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.sidebar {
  z-index: 5;
}
.sidebar p {
  padding: 0 8px;
}
.sidebar h2 {
  background-color: #fac51a;
  background-image: -moz-linear-gradient(top, #facd1a, #fab819);
  background-image: -ms-linear-gradient(top, #facd1a, #fab819);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#facd1a), to(#fab819));
  background-image: -webkit-linear-gradient(top, #facd1a, #fab819);
  background-image: -o-linear-gradient(top, #facd1a, #fab819);
  background-image: linear-gradient(top, #facd1a, #fab819);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#facd1a', endColorstr='#fab819', GradientType=0);
  font-size: 18px;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  margin: -2px -10px 24px 0;
  border: 1px solid #facd1a;
  box-shadow: 2px 2px 6px #666;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.sidebar h2:after {
  width: 34px;
  height: 68px;
  content: url('../images/ribbon_sidebar.png');
  right: -26px;
  top: -3px;
  z-index: -1;
}
.sidebar .box {
  padding: 0 0 40px 0;
}
.season {
  font-size: 40px;
  font-family: Impact;
  line-height: 50px;
  text-align: center;
  margin: 0 3px;
  padding: 8px 0px;
  border: 1px solid #e1e1e1;
}
.three-up .season {
  font-size: 30px;
}
.season.active,
.season:hover {
  color: #222222;
  background-color: white;
}
.season:hover {
  color: #ffae00;
}
article {
  margin: -2px -7px 40px -7px;
  background: #222222;
  box-shadow: 0 1px 8px #777;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.episode-title {
  margin: 0 0 7px 0;
  color: white;
  text-shadow: 1px 1px 3px #333;
}
.episode-title a {
  color: white;
  bottom: 0;
  left: -4px;
  top: -1px;
  width: 74%;
  vertical-align: middle;
}
.episode-title a span {
  display: block;
  padding: 12px;
}
.episode-title a:hover {
  text-shadow: 1px 1px 5px #000;
}
.episode-title.news-heading a {
  width: 86%;
}
.episode-title.news-heading aside {
  width: 10%;
}
.end {
  color: white;
  width: 4%;
  height: 100%;
  right: -4px;
  top: -1px;
  bottom: 2px;
}
.episode-info {
  text-align: center;
  padding: 1px 0;
  width: 20%;
  text-shadow: 1px 1px 3px #000;
}
.episode-number {
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  width: 42%;
}
.episode-date {
  font-size: 12px;
  line-height: 14px;
  margin: 11px 0 0 0;
  display: block;
  text-align: center;
}
article img,
img.thumbnail {
  margin: 0 12px 12px 0;
  background: white;
  padding: 6px;
  box-shadow: 0 2px 6px #aaa;
}
section {
  padding: 0 0 24px 0;
}
div.entry {
  padding: 20px 12px;
  margin: 0 -4px;
  background: #ffffff url('../images/article_grad.png') repeat-x;
  border: 1px solid #fff;
}
article.notched {
  margin: -2px -8px -8px -8px;
  margin-bottom: 40px;
}
article.notched div.entry {
  overflow: hidden;
  margin: 0 -5px;
}
article.notched div.entry div {
  text-align: center;
  vertical-align: middle;
}
article.notched div.entry img {
  border: none;
  box-shadow: none;
  display: inline;
  margin: 10px auto;
}
article.notched footer {
  height: 20px;
  margin: 8px -5px 0 -5px;
}
article.featured div.entry {
  height: 370px;
  margin: 0 -5px;
  position: relative;
}
article.featured div.entry div {
  text-align: center;
  vertical-align: middle;
}
article.featured div.entry img {
  border: none;
  box-shadow: none;
  display: inline;
  margin: 0 auto;
}
article.featured.featured-book div.entry {
  height: auto;
}
article.featured.featured-book div.entry a {
  display: block;
  padding: 0 11px 0 0;
}
article.featured div.entry:after {
  width: 112px;
  height: 53px;
  content: url('../images/notch.png');
  left: 50%;
  margin: 0 0 0 -56px;
  position: absolute;
  bottom: -54px;
  z-index: 1;
}
article.featured footer {
  height: 20px;
  margin: 8px -5px 0 -5px;
}
#wrapper > footer {
  padding-top: 30px;
}
#wrapper > footer h3,
#wrapper > footer p {
  color: white;
}
#wrapper > footer a {
  color: #ffae00;
}
#wrapper > footer a:hover {
  color: #2a85e8;
}
#wrapper > footer hr {
  border-color: #0b101b;
}
#searchform {
  padding: 0 6px 0 0;
}
#searchform input {
  width: 100%;
  margin: 12px 0;
  height: 32px;
  padding: 4px;
  -webkit-appearance: none;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  outline: none;
}
ul.cast > li h6 {
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
}
.download-link {
  position: absolute;
  bottom: -1.5em;
  font-size: 11px;
  text-transform: uppercase;
  right: 0;
  color: #939393;
}
.download-link:hover {
  color: #2a85e8;
}
.row {
  position: relative;
}
.admin-buttons {
  position: absolute;
  right: 0;
  bottom: -30px;
}
.audiojs p {
  display: none;
  width: 25px;
  height: 40px;
  margin: 0px;
  cursor: pointer;
}
.audiojs .play {
  display: block;
}
.playing .play,
.playing .loading,
.playing .error {
  display: none;
}
.playing .pause {
  display: block;
}
.loading .play,
.loading .pause,
.loading .error {
  display: none;
}
.loading .loading {
  display: block;
}
table tr th,
.audiojs,
article footer,
.audiojs {
  background: #fbfbfb url('../images/grad.png') top center repeat-x;
}
.audiojs {
  padding: 9px 0!important;
  height: 29px;
  margin: 0 -4px;
}
.audiojs .controls {
  width: 48px;
  height: 29px;
  top: 9px;
  left: 6px;
  position: absolute;
}
.audiojs .time,
.audiojs .play-pause,
.audiojs .scrubber {
  border: none;
}
.audiojs .time,
.audiojs .play-pause {
  position: relative;
  z-index: 10;
}
.audiojs .time {
  display: none;
  float: right;
  line-height: 12px;
  font-size: 11px;
  margin: -7px 11px 0 0;
  color: #777;
  text-shadow: none;
  font-family: arial, sans-serif;
}
.audiojs .time .played {
  color: #222;
}
.audiojs.playing .time {
  display: block;
}
.audiojs.playing .time em {
  font-style: normal!important;
}
.audiojs .play-pause {
  float: left!important;
  margin: 0 0 0 10px;
}
.audiojs .play-pause .play,
.audiojs .play-pause .pause,
.audiojs .play-pause .loading {
  height: 29px;
  width: 29px;
}
.audiojs .play-pause .play {
  background: url('../images/play_pause.gif') 0 -29px no-repeat;
}
.audiojs .play-pause .pause {
  background: url('../images/play_pause.gif') 0 0 no-repeat;
}
.audiojs .play-pause .loading {
  background: url('../images/play_pause.gif') 0 -58px no-repeat;
}
.audiojs .scrubber-box {
  top: 9px;
  height: 29px;
  position: absolute;
  width: 100%;
}
.audiojs .scrubber {
  cursor: pointer;
  height: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c6c6c6;
  position: relative;
  top: 0;
  margin: 10px 10px 10px 52px!important;
}
.audiojs .scrubber .progress,
.audiojs .scrubber .loaded {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.audiojs .scrubber .progress {
  background: #bababa;
  border: 1px solid #aeaeae;
  margin: -1px;
  border-right: 4px solid white;
  z-index: 5;
  top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.audiojs .scrubber .progress:after {
  width: 19px;
  height: 19px;
  content: url('../images/grabber.png');
  right: -8px;
  position: absolute;
  top: -6px;
  z-index: 100;
}
.audiojs .scrubber .loaded {
  background: #d4d4d4;
}
.audiojs.playing .scrubber .progress {
  border-color: #eeab07;
  background-color: #ffae00;
}
article:hover .play-pause,
.playing .play-pause,
article:hover .scrubber,
.playing .scrubber {
  opacity: 1;
  filter: alpha(opacity=100);
}
.credits-heading {
  width: 100%;
  float: left;
}
table {
  width: 100%;
}
th,
td {
  text-align: center;
  position: relative;
  vertical-align: top;
}
#disqus_thread img {
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#disqus_thread #dsq-footer {
  display: none!important;
  color: #fff!important;
}
.dsq-brlink,
#dsq-content-stub {
  display: none!important;
  color: #fff!important;
}
.details {
  color: #797979;
  font-size: 14px;
  float: right;
  margin: 0.6em 0 0 0;
}
.video .entry {
  padding: 0;
  border: 0;
  background: #000;
}
.video-list-entry {
  width: 50%;
}
.video-thumb {
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  display: block;
  max-width: 100.5%;
}
.video-small-title {
  font-size: 18px;
  margin: 0;
  margin-top: -4px;
  margin-bottom: -6px;
  bottom: -4px;
}
.video-small-title a {
  width: 103% !important;
}
.align_left {
  float: left;
}
img.align_left {
  margin: 0 12px 12px 0;
}
.align_right {
  float: right;
}
img.align_right {
  margin: 0 0 12px 12px;
}
.hide {
  display: none;
}
.highlight {
  background: #ff0;
}
.clear {
  clear: both;
}
.align_center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img.align_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.CommentForm_new {
  margin-top: 2em;
  padding: 1em;
  padding-left: 0.6em;
  padding-bottom: 0;
}
.CommentForm_new label {
  font-weight: bold;
}
.CommentForm_new input {
  width: 94%;
  padding: 0.5em 3%;
}
.CommentForm_new textarea {
  padding: 1em 2.5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 95%;
  clear: both;
  margin-top: 2px;
}
.CommentForm_new > h3 {
  color: #aaa;
  background: #eee;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.6em 1em;
  line-height: 1em;
  margin-bottom: 2em;
  text-align: center;
  border: 1px solid #ddd;
}
.CommentForm_cite,
.CommentForm_email {
  width: 48%;
  float: left;
}
.CommentForm_email {
  float: right;
}
.CommentForm_submit {
  text-align: right;
  margin: 0;
}
.CommentForm_submit button {
  border: 0 !important;
  cursor: pointer;
  background: #444;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.6em 1em;
}
.CommentForm_submit button:hover {
  background: #222;
}
.CommentForm_text {
  clear: both;
}
.comments {
  padding: 1em;
  padding-left: 0.6em;
  padding-top: 0;
}
.comments > h3 {
  color: #aaa;
  background: #eee;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.6em 1em;
  line-height: 1em;
  margin-bottom: 2em;
  text-align: center;
  border: 1px solid #ddd;
}
.CommentGravatar {
  float: left;
  width: 50px;
  margin: 0 8px 8px 0 !important;
  padding: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.CommentListItem {
  margin-bottom: 1.5em;
  clear: both;
}
.CommentHeader {
  margin-bottom: 0.3em;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #bbb;
}
.CommentText {
  font-size: 1.1em;
  margin-left: 60px;
  position: relative;
  font-style: italic;
  padding: 0.6em 1.5em 0.05em;
}
.CommentText p {
  margin-bottom: 0.6em;
}
.CommentText:before,
.CommentText:after {
  position: absolute;
  color: #ffae00;
  font-size: 2.5em;
}
.CommentText:before {
  content: "\201C";
  margin-left: -0.6em;
}
@media only screen and (max-width: 850px) {
  th .icon {
    display: none!important;
  }
}
@media only screen and (max-width: 767px) {
  #search_form {
    padding: 0!important;
    margin: 12px 0;
    width: 100%;
  }
  #search_form input {
    float: none;
    width: 91%;
    margin: 0 auto;
  }
  ul.cast > li h6 {
    font-size: 12px;
  }
  nav.menu-main-container ul#menu-main {
    margin: 0;
    top: 0;
    padding: 0;
  }
  nav.menu-main-container ul#menu-main li {
    width: 20%;
    padding: 0;
    float: left;
  }
  nav.menu-main-container ul#menu-main li a {
    text-align: center;
  }
  nav.menu-main-container ul#menu-main .flyout-toggle {
    display: none;
  }
  nav.menu-main-container ul#menu-main .flyout {
    position: absolute;
    width: 100%;
    right: 0;
  }
  nav.menu-main-container ul#menu-main .flyout ul li {
    float: none;
  }
  header.container .title {
    margin: -50px 0 30px 0;
  }
  .theatre {
    max-width: 50%!important;
  }
  #st-search-input {
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-top: 0;
    display: block;
  }
  #skipnav {
    background: #222;
    border-bottom: 1px solid #333;
    color: #999;
    padding: 4px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-style: 12px;
  }
  header img {
    margin: 0 auto!important;
    float: none;
    display: block;
  }
  .title .seven {
    margin: -80px 0 30px 0;
  }
  .main {
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
  }
  .main .row.content {
    border: none;
  }
  .padd {
    padding-left: 20px;
    padding-right: 20px;
  }
  .entry,
  article {
    margin-left: 0!important;
    margin-right: 0!important;
    border-right: none;
    border-left: none;
  }
  .notched.row {
    box-shadow: 0 1px 8px #777;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 24px;
  }
  .notched.row img {
    max-width: 70%;
  }
  .notched-shows {
    margin-bottom: 30px;
  }
  .notched.row.notched-books {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
  article {
    margin-bottom: 24px;
  }
  article.featured {
    background: white;
    box-shadow: none;
    height: auto;
    margin: 0;
  }
  article.featured .logo-small {
    float: left;
    width: 100px;
    max-width: 33%;
    margin: -4px -4px 4px -4px;
  }
  article.featured .logo-small img {
    margin: -4px !important;
  }
  article.featured div.entry {
    height: auto;
    padding: 30px 0 0 0;
    border: none;
    background: none;
    overflow: hidden;
  }
  article.featured div.entry:after {
    display: none;
    content: url('../images/notch.png');
  }
  article.featured.featured-book {
    width: 31%;
    float: left;
    background: transparent;
    margin: 0;
    padding: 0 1%;
  }
  article.featured.featured-book a {
    width: 100%;
    padding: 0;
  }
  article.featured.featured-book a img {
    background: transparent!important;
  }
  article img {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 6px!important;
  }
  article header h2.row {
    width: auto!important;
  }
  article header h2.row a,
  article header h2.row aside,
  article header h2.row aside strong,
  article header h2.row aside small {
    width: auto!important;
    left: 0;
    border-left: none;
    border-right: none;
  }
  article header h2.row a,
  article header h2.row aside,
  article header h2.row aside strong {
    float: none;
    display: block;
    text-align: left;
  }
  article header h2.row aside strong,
  article header h2.row aside small {
    display: inline;
    font-size: 12px;
    line-height: 34px;
    margin-right: 12px;
  }
  article header h2.row aside {
    padding: 0 12px;
    margin: -3px 0 -10px 0;
  }
  article header h2.row .end {
    display: none!important;
  }
  article .entry {
    margin: 0;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar > li.has-flyout > a:after {
    border: none!important;
  }
  .nav-bar > li.has-flyout > a {
    padding-right: 10px;
  }
  #search_form input {
    width: 85%;
  }
}
