@softgrey : #fafafa;
@bodygrey : #e6e6e6;
@maingrey : #c6c6c6;
@grayDark : #222;
@grey : #797979;
@gray : #797979;
@navy: #131a2d;

@red: #c20303;
@brightred: lighten(@red, 6%);
@darkred: darken(@red, 4%);

@purple: #ac16cf;
@brightpurple: lighten(@purple, 6%);
@darkpurple: darken(@purple, 4%);

@green: #0fa82a;
@brightgreen: lighten(@green, 6%);
@darkgreen: darken(@green, 4%);


@yellow: #ffae00;
@brightyellow: #facd1a;
@darkyellow: #fab819;

@linkBlue: #2A85E8;