# Bash Scripts
*.sh

# IDE Files
.vscode

# Code Standard Config
.php_cs
.php_cs.dist

# Docker
docker-compose.yml
__docker

# npm modules
node_modules
package-lock.json

# Composer
/composer.lock
/vendor
/vendor/*

# NPM packages
/node_modules
/node_modules/*

/site/assets
/site/assets/*
/site/install

/wire

/index.php

/sitemap.xml

config-dev.php

/database.sql